**/target/
**/node_modules/
**/*.rs.bk
*.swp
.wasm-binaries
polkadot/runtime/wasm/target/
core/executor/wasm/target/
core/test-runtime/wasm/target/
target/
Cargo.lock
pwasm-libc/Cargo.lock
node/runtime/wasm/target/
**/._*
**/.criterion/
.vscode
polkadot.*
.DS_Store
.idea/
.cargo-remote.toml

# Added by cargo
/target
.cargo.lock

# NixOS development environment
.envrc
